html{
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  background: #000;
}

body {
  background: #000;
}

.title_name {
  font-size: 70px;
  font-weight: 100;
  color: aqua;
  margin-top: 30px;
}

.title_logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo{
  height: 60px;
}

.title {
  display: flex;
  margin-top: 50px;
}

.title_game {
  font-style: italic;
  font-weight: 100;
  color: aqua;
}

.task_bkg {
  background: #000;
}

.task {
  background: #000;
}

.text_task {
  font-size: 14px;
  width: 100%;
  color: #D8D8D8;
}

.score_time {
  display: flex;
  background-color: #000;
  height: 66px;
  color: white;
  padding-top: 18px;
  z-index: 2;
}

.play_game {
  background: #000;
  height: 640px;
  display: flex;
}

#screen {
  background: #fff;
  height: 450px;
  width: 100%;
  border-left: 1px solid #523B0E;
  border-right: 1px solid #523B0E;
  border-bottom: 1px solid #523B0E;
  position: relative;
}

#spine {
  width: 0;
  height: 0;
  border-top: 30px solid #000;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
}

#idScore {
  position: absolute;
  font-weight: bold;
  color: orange;
  z-index: 3;
}

.ballBlack {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  position: absolute;
}


.ballRed {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.ballYellow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
}

.ballGreen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: green;
  position: absolute;
}

.ballBlue {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: blue;
  position: absolute;
}

.ballLightGreen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9BFF6C;
  position: absolute;
}

.ballPink {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFC3EB;
  position: absolute;
}

.ballAqua {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: aqua;
  position: absolute;
}

.ballViolet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #DBAEFF;
  position: absolute;
}

.wind {
  margin-top: 180px;
  color: white;
  text-shadow: 0px 6px 3px #01B9D2;
}
.wind_img2 {
  transform: scale(-1, 1);
}

.button_position {
  display: flex;
}

.start_button {
  background: linear-gradient(to top, #32A5BE, aqua);
  border: 1px solid aqua;
  border-radius: 50%;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  padding: 15px 80px 15px 80px;
  margin-top: 12px;
  margin-right: 60px;
}

.start_button:hover {
	background: aqua;
}

.start_button:focus {
  outline: none;
	box-shadow: 0 0 10px aqua;
}

.spine_button {
  background: linear-gradient(to top, #32A5BE, aqua);
  border: 1px solid aqua;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 80px 20px 80px;
  margin-top: 12px;
}

.spine_button:hover {
	background: aqua;
}

.spine_button:focus {
  outline: none;
	box-shadow: 0 0 10px aqua;
}



footer {
  height: 90px;
}

.text_position {
  display: flex;
  margin-top: 17px;
}

.footer_text1 {
  display: flex;
  color: #777777;
  text-align: left;
  font-style: italic;
  font-size: 13px;
}

.logo_footer {
  margin: 20px 20px 0 0;
}

a {
  color: #777777;
}

.footer_text2 {
  color: #777777;
  text-align: right;
  font-style: italic;
  font-size: 13px;
}
